* {
  cursor: none;
}

body {
  color: #bcbbb6;
}
p{
  font-size: 24px;
  color: black;
}

span{
color: red;
font-size: 32px;
}

h1{
  text-align: center;
  color: red;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  
}
.header{
  display: flex;
  flex-direction: column;
}

.score{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field {
  display: flex;
  width: 100%;
}

.cell {
  width: 115px;
  height: 115px;
  background-color: #4fb9eb;
  background-repeat: no-repeat;
  border-radius: 11px;
  margin: 3px;
  border: 2px solid #e23cb0;
}

.goblin {
  width: 112px;
  height: 112px;
  background-image: url('../img/goblin.png');
  background-repeat: no-repeat;
}

.cursor {
  position: absolute;
  width: 90px;
  height: 90px;
  background-image: url('../img/hammer.png');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
